<a href="https://colab.research.google.com/github/JosueInge/PrograIII-2024/blob/main/Fundamentos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
nombre = "Wilfredo Josue"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[5])

Hola mundo
Hola  Wilfredo Josue , inicial:  W e

EJERCICIO, crear un programa en python que sume dos numeros

**texto en negrita**

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int (input())

print("Num 2")
num2 = int (input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
2
Num 2
2
La suma es:  4

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Wilfredo Josue"
print(nombre[0:4], nombre[2:4], nombre[-5], nombre[5:len(nombre)])

estado = False
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Wilf lf J edo Josue
False
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, crear un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("Ingrese un numero: "))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

Ingrese un numero: 2
El numero es par 2

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2


num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Convertir grados Farenheis a Celsius

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
 """Convierte grados Fahrenheit a Celsius."""
 celsius = (fahrenheit - 32) * 5.0/9.0
 return celsius

try:
  fahrenheit = float(input("Ingrese grados Fahrenheit: "))
  celsius = fahrenheit_to_celsius(fahrenheit)
  print(f"{fahrenheit} grados Fahrenheit son {celsius:.2f} grados Celsius.")
except ValueError:
  print("Por favor, ingrese un valor numérico válido.")

Ingrese grados Fahrenheit: 34
34.0 grados Fahrenheit son 1.11 grados Celsius.

Convertir grados Fahrenheit y Celsius a Kelvin

1.   Elemento de lista
2.   Elemento de lista

In [ ]:
def fahrenheit_to_kelvin(fahrenheit):
 """Convierte grados Fahrenheit a Kelvin."""
 kelvin = (fahrenheit - 32) * 5.0 + 273.15
 return kelvin

try:
  fahrenheit = float(input("Ingrese grados Fahrenheit: "))
  kelvin = fahrenheit_to_kelvin(fahrenheit)
  print(f"{fahrenheit} grados Fahrenheit son {kelvin:.2f} grados Kelvin.")
except ValueError:
  print("Por favor, ingrese un valor numérico válido.")

def celsius_to_kelvin(Celsius):
 """Convierte grados Celsius a Kelvin."""
 kelvin = celsius + 273.15
 return kelvin

try:
  celsius = float(input("Ingrese grados celsius: "))
  kelvin = celsius_to_kelvin(celsius)
  print(f"{celsius} grados celsius son {kelvin:.2f} grados Kelvin.")
except ValueError:
  print("Por favor, ingrese un valor numérico válido.")

Ingrese grados Fahrenheit: 32
32.0 grados Fahrenheit son 273.15 grados Kelvin.

EJERCICIO: Elevar un numero al cuadrado.

EJERCICIO: Calcular el sueldo de un trabajador

In [ ]:
ef sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo


numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

EJERCICIO: Elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base,exponente):
  return base**exponente

num = int(input("Num:"))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num:2
Cuadrado:  8

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda  = lambda base, exponente: base**exponente

valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros fijos.

In [ ]:
serie = [4, 36, 64, 25, 12]
resp = map(lambda x: x**0.5, serie)
print(list(resp))

[2.0, 6.0, 8.0, 5.0, 3.4641016151377544]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla: 7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo los numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [4, 2, 3, 1, 2]

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
Num Mayor:  10
Num Menor:  1

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6  (7, 9, 5, 4)
2

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  lunes 29  de  agosto  del  2024

In [ ]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)


LISTAS

In [ ]:
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
functools.reduce(obtenerNota, matriz, 0)

In [ ]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

In [ ]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

Num: 1: 1
Num: 2: 8
Num: 3: 6
Num: 4: 4
Num: 5: 2
Num: 6: 1
Num: 7: 2
Num: 8: 3
Num: 9: 1
Num a buscar: 1
Serie:  [1, 8, 6, 4, 2, 1, 2, 3, 1] El numero  1 , se repite:  3
None

In [ ]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

DICCIONARIOS JSON

In [ ]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

ESTRUCTURAS DE CONTROL IF Ejercicio: Solicitar la edad y realizar la clasificacion

Calcular las deducciones de la ley ISSS, AFP, ISR

In [ ]:
def calcular_deducciones(sueldo):
  # Calcular ISSS y AFP
  isss = sueldo * 0.33
  afp = sueldo * 0.0

  # calcular el sueldo despues de deducir ISSS y AFP
  resultado_de_la_resta_del_isss_afp_y_salario = sueldo - isss + afp

  #determinar el tramo y calcular ISR
  if resultado_de_la_resta_del_isss_afp_y_salario <= 472.00:
    isr = 0
  elif resultado_de_la_resta_del_isss_afp_y_salario <= 895.24:
    exceso = resltado_de_la_resta_del_isss_y_salario - 472.00
    isr = exceso * 0.20 + 17.67
  elif resultado_de_la_resta_del_iss_afp_y_salario <= 2038.10:
    exceso = resultado_de_la_resta_del_isss_afp_y_salario - 895.24
    isr = exceso * 0.20 + 60.00
  else:
    exceso = resultado_de_la_resta_del_isss_afp_y_salario - 2038.10
    isr = exceso *0.30 + 288.57

  return isss, afp, isr

# Solicitar el sueldo
sueldo = float(input("Ingrese el sueldo: "))

# Calcular las deducciones
isss, afp, isr = calcular_deducciones(sueldo)

# Mostrar los resultados
print(f"Para un sueldo de $(sueldo):")
print(f"ISSS: ${isss:.2f}")
print(f"AFP: ${afp:.2f}")
print(f"ISR: ${isr:.2f}")

Ingrese el sueldo: 45
Para un sueldo de $(sueldo):
ISSS: $14.85
AFP: $0.00
ISR: $0.00

**ESTRUCTURAS DE CONTROL**

IF

Ejercicio: SOLICITAR AL USUARIO LA EDAD Y DETERMINAR SU CLASIFICACIÓN

In [ ]:
edad = int(input("Edad: "))
if edad>17:
  print("Bienvenido al mundo de las responsabilidades")

Edad: 19
Bienvenido al mundo de las responsabilidades

In [ ]:
continuar = "s"
while continuar=="s":
  edad = int(input("Edad: "))
  if (edad<0):
   print("Edad Incorrecta")
  elif edad<=2:
   print("Eres un bebe")
  elif edad<12:
    print("Eres un niño")
  elif edad<18:
    print("Eres un adolecente")
  elif edad<65:
    print("Eres un adulto")
  elif edad<65:
    print("Eres un adulto mayor")
  else:
    print("Larga vida")
  continuar = input("Continuar s, sino cualquier tecla")

Edad: 67
Larga vida
Continuar s, sino cualquier tecla

SOlicitar un numero y verificar si es positivo o negativo

Solicitar una tabla de multiplicar y generaria

In [ ]:
continuar="s"
while continuar=="s":
  tabla = int(input("Tabla:"))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("Continuar s, sino cualquier tecla: ")

Tabla:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Continuar s, sino cualquier tecla: s
Tabla:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Continuar s, sino cualquier tecla: s
Tabla:8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Continuar s, sino cualquier tecla:

EJERCICIO Escriba un programa que lea una serie de numeros introducidos por el usuario, y determine la media aritmetica.

In [ ]:
from math import sqrt

class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += num
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (num-media)**2
    return sqrt(suma/len(serie))


n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1,n+1):
  serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))

print("La desviacion tipica es: ", round(objEstadistica.tipica(serie),3) )

Cuantos numeros va a ingresar: 2
Num: 3
Num: 4
La media es:  3.5
La desviacion tipica es:  0.5

Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS
ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla. El monto
de la actividad económica debe ser introducido por el usuario.

Desde: 0.01
Hasta: 500
Precio: 1.5
Adicional: 0

Ejemplo: Si un negocio tiene una actividad económica de $1,875.79 su valor a
pagar es: $5.63
Monto - desde (rango) = 875.78 / 1000(valor fijo) * 3(adicional)
+ 3(precio) = 5.63
Desarrollo: 1875.79 – 1000.01 = 875.78 / 1000 * 3 + 3 = $5.63

In [ ]:
def calcular_impuesto(monto):
    monto_base = 1000.01
    valor_fijo = 3
    valor_adicional = 3

    if monto <= monto_base:
        impuesto = valor_fijo
    else:
        exceso = monto - monto_base
        impuesto = (exceso / 1000) * valor_adicional + valor_fijo

    return impuesto

try:
    monto_actividad = float(input("Introduce el monto de la actividad económica: "))

    impuesto = calcular_impuesto(monto_actividad)

    print(f"El valor a pagar es: ${impuesto:.2f}")

except ValueError:
    print("Por favor, introduce un monto válido.")

Introduce el monto de la actividad económica: 3.454
El valor a pagar es: $3.00

Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones:
a. Pie Cuadrado
b. Vara Cuadrada
c. Yarda Cuadrada
d. Metro Cuadrado
e. Tareas
f. Manzana
g. Hectárea

In [ ]:
conversiones = {
    'pie cuadrado': 0.092903,
    'vara cuadrada': 0.69984,
    'yarda cuadrada': 0.836127,
    'metro cuadrado': 1,
    'tarea': 628.86,
    'manzana': 7000,
    'hectárea': 10000
}

def convertir_area(valor, unidad_origen, unidad_destino):
    valor_metros_cuadrados = valor * conversiones[unidad_origen]
    valor_convertido = valor_metros_cuadrados / conversiones[unidad_destino]
    return valor_convertido

def mostrar_menu():
    print("Selecciona la unidad de medida de superficie:")
    for i, unidad in enumerate(conversiones.keys(), start=1):
        print(f"{i}. {unidad.capitalize()}")

def main():
    mostrar_menu()
    try:
        opcion_origen = int(input("Selecciona la unidad de origen (número): ")) - 1
        opcion_destino = int(input("Selecciona la unidad de destino (número): ")) - 1

        if opcion_origen < 0 or opcion_origen >= len(conversiones):
            print("Opción de unidad de origen no válida.")
            return
        if opcion_destino < 0 or opcion_destino >= len(conversiones):
            print("Opción de unidad de destino no válida.")
            return

        unidad_origen = list(conversiones.keys())[opcion_origen]
        unidad_destino = list(conversiones.keys())[opcion_destino]

        valor = float(input(f"Introduce el valor en {unidad_origen}: "))
        resultado = convertir_area(valor, unidad_origen, unidad_destino)

        print(f"{valor} {unidad_origen} es igual a {resultado:.2f} {unidad_destino}")

    except ValueError:
        print("Por favor, introduce un valor válido.")

if __name__ == "__main__":
    main()

Selecciona la unidad de medida de superficie:
1. Pie cuadrado
2. Vara cuadrada
3. Yarda cuadrada
4. Metro cuadrado
5. Tarea
6. Manzana
7. Hectárea
Selecciona la unidad de origen (número): 1
Selecciona la unidad de destino (número): 4
Introduce el valor en pie cuadrado: 22
22.0 pie cuadrado es igual a 2.04 metro cuadrado

Desarrolle un programa en Python que simule a un cajero automático.
Haga uso de las estructuras de control. (30%)
Eje. Ingrese la cantidad a retirar: 199.89
9 billetes de a 20
1 billete de a 10
1 billete de a 5
4 billetes de a 1
3 monedas de 0.25 ctvs.
“Aprender a programar te enseña a pensar”. Steve Job
1 moneda de 0. 1 ctvs.
4 monedas de 0.01 ctvs.

In [ ]:
def descomponer_monto(monto):
    billetes = [20, 10, 5, 1]
    monedas = [0.25, 0.10, 0.01]

    resultado_billetes = {}
    resultado_monedas = {}

    for billete in billetes:
        cantidad_billetes = int(monto // billete)
        if cantidad_billetes > 0:
            resultado_billetes[billete] = cantidad_billetes
            monto -= cantidad_billetes * billete

    for moneda in monedas:
        cantidad_monedas = int(round(monto / moneda))
        if cantidad_monedas > 0:
            resultado_monedas[moneda] = cantidad_monedas
            monto -= cantidad_monedas * moneda
            monto = round(monto, 2)

    return resultado_billetes, resultado_monedas

def mostrar_resultado(resultado_billetes, resultado_monedas):
    print("Billetes:")
    for billete, cantidad in resultado_billetes.items():
        print(f"{cantidad} billete(s) de ${billete}")

    print("Monedas:")
    for moneda, cantidad in resultado_monedas.items():
        print(f"{cantidad} moneda(s) de ${moneda:.2f}")

def main():
    try:
        monto = float(input("Ingrese la cantidad a retirar: "))
        if monto <= 0:
            print("La cantidad debe ser mayor a 0.")
            return

        resultado_billetes, resultado_monedas = descomponer_monto(monto)

        mostrar_resultado(resultado_billetes, resultado_monedas)

    except ValueError:
        print("Por favor, ingrese un valor numérico válido.")

if __name__ == "__main__":
    main()

Ingrese la cantidad a retirar: 20.75
Billetes:
1 billete(s) de $20
Monedas:
3 moneda(s) de $0.25